{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
        <title>absent </title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
                integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
                crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--===============================================================================================-->

        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="../static/assets/css/util.css">
        <link rel="stylesheet" type="text/css" href="../static/assets/css/login.css">
        <!--===============================================================================================-->

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
                integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
                crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
                integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
                integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
                crossorigin="anonymous"></script>

        <!-- Font Awesome -->
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
                integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
                crossorigin="anonymous">

        <!-- Moment.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"
                integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA=" crossorigin="anonymous"></script>

        <!-- Tempus Dominus Bootstrap 4 -->
        <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css"
                integrity="sha256-XPTBwC3SBoWHSmKasAk01c08M6sIA5gF5+sRxqak2Qs=" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js"
                integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=" crossorigin="anonymous"></script>


</head>

<body>
       

        <div class="container-login100" style="background-image: url('../static/assets/img/bg-01.jpg');">

                

                <div class="mt-5">
                        <table class="table table-bordered">
                                <thead>
                                        <tr>
                                                <th scope="col">Sl.No</th>
                                                <th scope="col">name</th>
                                                <th scope="col">reg_no</th>
                                                <th scope="col">course</th>
                                                <th scope="col">batch</th>
                                                <th scope="col">images</th>
                                                <th scope="col">Edit</th>
                                                <th scope="col">Delete</th>
                                        </tr>
                                </thead>

                                <tbody>
                                        {% for i in student_list %}
                                        <tr>
                                                <th>{{forloop.counter}}</th>
                                                <td>{{i.name}}</td>
                                                <td>{{i.reg_no}}</td>
                                                <td>{{i.course}}</td>
                                                <td>{{i.batch}}</td>
                                                <td><img src="/media/{{i.image}}" height="50" width="50"></td>
                                                <td><a href="{% url 'edit_item' i.id %}" class="btn btn-warning">Edit</a></td>
                                                <td><a href="{% url 'delete_item' i.id %}"class="btn btn-danger">Delete</a></td>
                                        </tr>
                                        {% endfor %}
                                </tbody>

                        </table>
                        <center>
                        {% for message in messages %}
                        <p style="color: red;" id="messages">{{message}}</p>
                        {% endfor %}
                        </center>
                </div>

</body>

</html>